:root{
    --cor-fundo: #ffffff;
    --cor-principal: #3493e6;
   --cor-secundario: #9fa7ae;
    --cor-destaque: #88e765;
    --cor-texto: #000000;
}

body {
background-color: var(--cor-fundo);
color: var(--cor-texto);
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
}